<!DOCTYPE html>
<html>
<body>
<h1>Cadastrar Contato</h1>
<form method ="post" action="http://127.0.0.1:8080/contato/criar">
  <label for="nome">Nome:</label><br>
  <input type="text" id="nome" name="nome" value=""><br>
  <label for="telefone">Telefone:</label><br>
  <input type="text" id="telefone" name="telefone" value=""><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value=""><br><br>
  <input type="submit" value="Enviar">
</form> 

<p>Ao clicar no botão "Enviar", o contato será cadastrado.</p>

</body>
</html>
