{% extends "base.html"%}
{%block title%}Locacar | Área de gerênciamento dos alugueis{%endblock%}


<!---Corpo Principal da Pagina-->

{% block page_content %}

  <img class="logo-dashboard" src="{{ url_for('static', filename='images/Logo.png') }}" alt="">
  <h1 class="titulo">Sistema de Gestão de Alugueis Automotivos Locacar</h1>



  <div class="busca" style="margin-top: 60px; width: 80%;">
    {% if dados %}
    
    <h1>Taxa de Cobrança por Tipo de Carro no Aluguel:</h1>

    <table>
        <tr>
          <th>Tipo</th>
          <th>Valor Diário</th>
          <th>Valor Semanal</th>
          <th>Multa Diário</th>
          <th>Multa Semanal</th>
        </tr>
        {% for tuplas in dados %}
          <tr>
            <td>{{tuplas["nome_tipo"]}}</td>
            <td>{{tuplas["valor_diario"]}}</td>
            <td>{{tuplas["valor_semanal"]}}</td>
            <td>{{tuplas["multa_diaria"]}}</td>
            <td>{{tuplas["multa_semanal"]}}</td>
            <td><a href="{{ url_for('editar_tipos', nome_tipo=tuplas['nome_tipo']) }}">Editar</a></td>
          </tr>
        {% endfor %}
    </table>
    {% else %}
      <h1>Não foram encontrados resultados.</h1>
    {% endif %}


  </div>


{% endblock %}



